.header {
  padding: 20px 0;

  &__logo {
    width: 34px;
    height: 34px;
    margin-right: 10px;
  }

  &__buttons {
    > * {
      width: 42px;
    }
  }

  &__item {
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    padding: 10px 15px;
    width: auto;
    &:last-child {
      border-left: 0;
    }
  }
}

.search {
  height: 42px;
}