.title {
  @include base-aligns();
  @include base-margins();
  @include base-weight();
  color: $black;
  &__uppercase {
    text-transform: uppercase;
  }
  &__size {
    &_l {
      font-size: 48px;
    }
    &_m {
      font-size: 36px;
    }
    &_s {
      font-size:  18px;
    }
  }
  &__color {
    &_white {
      color: $white;
    }
    &_orange {
      color: $orange;
    }
    &_black {
      color: $black;
    }
  }
}
